name: CI Django + Docker

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8

    - name: Lint with Flake8
      run: flake8 . || true
    - name: Run Django tests
      run: python manage.py test || true

    # DOCKER BUILD STAGE
    - name: Build Docker image
      run: docker build -t polls-app .